*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 30px;
}
p{
    margin: 50px 0;
}
h1{
    font-size: 40px;
    text-align: center;
}
div{    
    width: 60%;
    margin: 0 auto;
    background-color: blanchedalmond;
    padding: 50px;
    box-shadow: 0px 0px 25px 20px rgba(0, 0, 0, 0.356);
}
img{
    width: 100%;
}